* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width:100%;
    font-size: 1.5rem;
}

.container {
    display: flex;
}

.rectangle {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 22rem;
    background-color:#555555;
}

/* Name, pseudo,...*/
.textRect {
    font-weight: bold;
    font-style: normal;
    color: rgb(244, 211, 204);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 2rem;
    line-height: 1.4;
    position: absolute;
    left: 47rem;
    font-size: xx-large;
    padding: 2rem;
}

/* Rectangle2 with img*/
.rectangle2 {
    display: flex;
    flex-direction: column;
    width: 34rem;
    position: absolute;
    background-color:rgb(244, 211, 204);
    margin: 3rem;
    height: 99vh;
    padding: 2rem;
}

.rectangle2 h2, .rectangle2 hr {
    margin: 1rem;
}

.rectangle2 li {
    margin: 2%;
    padding: 2%;
}

.rectangle2 img {
    width: 26rem;
    margin: 2rem;
    padding: 2rem;
}

/* Text right */
.left {
    display: flex;
    flex-direction: column;
    margin-left: 48rem;
    margin-top: 0;
    padding: 1rem;
}

.left li {
    margin: 1rem;
}

.left h2 {
    background-color:rgb(244, 211, 204);
    width: 19rem;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    color: #555555;
}

/* Li class none*/
.none {
    list-style: none;
    padding: 2%;
    color: black;
}

.none a {
    color: black;
}

.left strong, .left a {
    color: #555555;
    font-weight: bold;
}

.left a {
    text-decoration-line: none;
}

/**
 * Responsive mode.
 */
@media screen and (max-width: 1160px) {

    h2, .textRect p {
        font-size: 2rem;
    }

    .textRect {
        left: 42rem;
        line-height: 1.8;
    }

    .left {
        margin-top: 1rem;
        margin-left: 40rem;
    }

    .left h2 {
        width: 22rem;
    }

    .rectangle2 {
        height: 170vh;
        width: 34rem;
    }
}

@media screen and (max-width: 850px) {

    .textRect {
        left: 35rem;
    }

    .left {
        margin-left: 35rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 862px) {

    .left {
       margin-left: 1rem;
        margin-top: 60rem;
    }
    .rectangle {
        height: 23rem;
    }

}