* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width:100%;
    font-size: 1.5rem;
}

.container {
    display: flex;
}

.rectangle {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 22rem;
    background-color:turquoise;
}

/* Name, pseudo,...*/
.textRect {
    font-weight: 700;
    font-style: normal;
    color: rgb(244, 211, 204);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: end;
    width: 72%;
    margin: 2rem;
    line-height: 1.4;
}

.rectangle2 {
    display: flex;
    flex-direction: column;
    width: 39rem;
    position: absolute;
    background-color: orange;
    margin: 3rem;
    height: 87vh;
}

.rectangle2 img {
    width: 85%;
    margin: 2rem;
    height: 27rem;
    padding: 2rem;
}

/* Text right */
.left {
    display: flex;
    flex-direction: column;
    margin-left: 48rem;
    margin-top: 4rem;
    padding: 4rem;
}

.left li {
    margin: 1rem;
}

.left h2 {
    background-color: orange;
    width: 32%;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
}