* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width:100%;
    font-size: 1.5rem;
}

.container {
    display: flex;
}

.rectangle {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 22rem;
    background-color:#555555;
}

/* Name, pseudo,...*/
.textRect {
    font-weight: bold;
    font-style: normal;
    color: rgb(244, 211, 204);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 72%;
    margin: 2rem;
    line-height: 1.4;
    position: absolute;
    left: 49rem;
    font-size: xx-large;
    padding: 2%;
}

/* Rectangle2 with img*/
.rectangle2 {
    display: flex;
    flex-direction: column;
    width: 39rem;
    position: absolute;
    background-color:rgb(244, 211, 204);
    margin: 3rem;
    height: 103vh;
    padding: 2rem;
}

.rectangle2 h2, .rectangle2 hr {
    margin: 1rem;
}

.rectangle2 li {
    margin: 2%;
    padding: 2%;
}

.rectangle2 img {
    width: 80%;
    margin: 2rem;
    padding: 2rem;
}

/* Text right */
.left {
    display: flex;
    flex-direction: column;
    margin-left: 48rem;
    margin-top: 4rem;
    padding: 4rem;
}

.left li {
    margin: 1rem;
}

.left h2 {
    background-color:rgb(244, 211, 204);
    width: 32%;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    color: #555555;
}

/* Li class none*/
.none {
    list-style: none;
    padding: 2%;
    color: black;
}

.none a {
    color: black;
}