* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width:100%;
    font-size:1.5em;
}


#container {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: palevioletred;
    width: 100%;
    padding: 1.25rem;
}

a {
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration-line: none;
    transition: background-color;
    transition-duration: 5s;
}

i {
    color: black;
}

a:hover {
    background-color: white;
}

#nav-home a,#nav-recettes a,#nav-new a, #nav-shop a, #nav-objects a{
    display: none;
}

#home:hover a {
    display:block;
}

#recettes:hover a {
    display:block;
    background-color: #dc494a;
}

#new:hover a {
    display:block;
    background-color: #e6fc6c;
}

#video:hover a {
    display:block;
    background-color: orangered;
}

#shop:hover a {
    display:block;
    background-color:#79ceea ;
}

#objects:hover a {
    display:block;
}

#contact:hover a{
    display:block;
}

#logo {
    width: 12rem;
}