* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width:100%;
    font-size:2.5em;
}

.container {
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
}

h2 {
    color: deepskyblue;
    text-align: center;
    margin-top: 1rem;
    text-decoration: gray underline;
}

.green {
    color: chartreuse;
}

/* Li odd(impairs)*/
li:nth-child(2n+1){
    margin: 2rem;
}

/* Width img*/
img {
    width: 65% ;
}

a {
  color: deepskyblue;
  text-decoration-line: none;
}

/* Animation a*/
a:hover {
    color: deeppink;
}

/* Design exo 3*/
.superContainer {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.superContainer ol {
    margin-top: 12rem;
}

/* Definition list*/
.superContainer dl {
    margin-top: 15rem;
    font-style: italic;
    font-weight: bold;
    color: orange;
}
.superContainer dd {
    color: black;
    font-weight: normal;
    font-style: normal;
}