/* Desing exo 2.1 */
.containerFlex {
    border:5px solid black;
    width: 51rem;
    height: 48rem;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Center the blocks */
.containerFlex {
    align-items: center;
    padding: 0.5rem;
}

#div1,#div2,#div3,#div4,#div6,#div7,#div8,#div9 {
    width: 10rem;
    height: 10rem;
}

#div1 {
    background-color: #001c40;
}

#div2 {
    background-color: aqua;
}

#div3 {
    background-color: chartreuse;
}

#div4 {
    background-color: #d299c2;
}

#div5 {
    height: 10rem;
    width: 51rem;
    background-color: coral;
}

#div6 {
    background-color: greenyellow;
}

#div7 {
    background-color: purple;
}

#div8 {
    background-color: deeppink;
}
#div9 {
    background-color: peachpuff;
}

div {
    text-align: center;
    color: white;
    font-size: xxx-large;
}

/*Exercice 2.2 */

/* Responsive mode */
@media screen and (max-width: 1024px) {
    .containerFlex {
        width: 100%;
        height: 150vh;
    }

    #div1 {
        background-color: #001c40;
    }

    #div2 {
        background-color: aqua;
    }

    #div3 {
        background-color: chartreuse;
    }

    #div4 {
        background-color: #d299c2;
    }

    #div5 {
        height: 20rem;
        width: 43rem;
        background-color: coral;
    }

    #div6,#div7,#div8,#div9 {
        display: none;
    }
}

/* Exo 2.3 : responsive mode ( display 5 blocks) */
@media screen and (max-width: 1014px) {
    .containerFlex {
        width: 100%;
        height: 100vh;
    }

    #div1,#div2,#div3,#div4,#div5 {
        display: block;
    }

    #div5 {
        height: 10rem;
        width: 10rem;
    }

    #div6,#div7,#div8,#div9 {
        display: none;
    }
}