* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width:100%;
    font-size: 2rem;
}

.container {
    display: flex;
    margin: 2rem;
}

/* Avatar*/
img {
    width: 10%;
}

/* text business card*/
.rectangle {
    width: 18%;
    background-color: #ff867d;
    color: white;
    padding: 1rem;
}

/* Margin div between them */
.rectangle div {
    margin-top: 3px;
}

a {
    text-decoration-line: none;
    color: white;
}

.corail {
    color: #fca39b;
    font-size: 20px;
}

.corail:hover {
    color: white;
    font-size: 20px;
}