* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width:100%;
    font-size: 2rem;
}

.container {
    display: flex;
    margin: 2rem;
}

/* Avatar*/
img {
    width: 10%;
}

/* text business card*/
.rectangle {
    width: 18%;
    background: rgb(255,134,125);
    background: linear-gradient(293deg, rgba(255,134,125,1) 0%, rgba(252,163,155,1) 35%, rgba(255,255,255,1) 100%);
    color: white;
    padding: 1rem;
}

/* Margin div between them */
.rectangle div {
    margin-top: 3px;
    color: #fca39b;
}

.rectangle div:hover, .rectangle a:hover, .corail:hover {
    color: #ff867d;
    font-size: 22px;
    font-weight: bold;
}

a {
    text-decoration-line: none;
    color: #fca39b;
}

.corail {
    font-size: 20px;
}
